@import '../_variables.scss';

.SongListItem {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  @media screen and (max-width: 330px) {
    padding: 8px;
  }
}

p {
  margin: 0;
  padding: 0;
}

.SongListItem.selected {
  background-color: $medium-color;
  color: $contrast-color;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  border-right: 1px $medium-color solid;
  border-bottom: 1px $medium-color solid;
  box-shadow: inset -1px -1px 3px $light-color, inset 2px 2px 5px $dark-color;
}
.SongListItem.selected p {
  animation: 2s ease-out infinite shiningletters ;
}

@keyframes shiningletters {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 5px $light-color;
  }
  100% {
    text-shadow: none;
  }
}