@import '../_variables.scss';

.SongListItem {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  @media screen and (max-width: 330px) {
    padding: 8px;
  }
}

p {
  margin: 0;
  padding: 0;
}

.SongListItem.selected {
  background-color: $medium-color;
  color: $shine;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}
.SongListItem.selected p {
  animation: 2s ease-out infinite shiningletters ;
}

@keyframes shiningletters {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 5px $light-color;
  }
  100% {
    text-shadow: none;
  }
}