@import '../variables.scss';

.SongPlayer {
  width: 500px;
  margin: 0 auto;
  padding: 10px 10px 20px;
  background-color: $medium-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SongPlayer img {
  margin: 10px auto 20px;
  border-radius: 5px;
  width: 250px;
  height: 250px;
}

.SongPlayerButton {
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  border-style: none;
  font-weight: bold;
  background-color: $contrast-color;
  cursor: pointer;
}

.activeButton {
  background-color: $active-color;
  box-shadow: 0 0 5px $shine;
}
.blinkingButton {
  animation: 2s linear infinite blink;
}
@keyframes blink {
  0% {
    background-color: $active-color;
    box-shadow: 0 0 5px $shine;
  }
  50% {
    background-color: $contrast-color;
  }
  100% {
    background-color: $active-color;
    box-shadow: 0 0 5px $shine;
  }
}