@import './_variables.scss';

body {
  background: $dark-color;
  color: $shine;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}